* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

h1{
    text-align: center;
}

.top{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

input{
    border: none;
    outline: none;
    width: 400px;
    padding: 0 0.5rem;
    border-bottom: 1px solid rgb(90, 8, 8);
}

.add{
    background-color: rgb(90, 8, 8);
    color: #fff;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.item{
    position: relative;
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    gap: 0.5rem;
}

i{
    cursor: pointer;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Very-Dark-Grayish-Blue);
    background: var(--body-background);
    font-size: 1.2rem;
    min-height: 100vh;
    margin: 0;
    user-select: none;
}
.attribution a {
    font-size: 1rem;
    color: var(--Bright-Blue);
    text-decoration: none;
  }
  
  .attribution .author {
    text-align: center;
    padding-bottom: 3rem;
    color: var(--Bright-Blue);
  }
  
  .attribution a:hover {
    color: hsl(228, 75%, 54%);
    text-decoration: underline;
  }
  .active {
    color: var(--Bright-Blue);}